.main {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  max-width: 375px;
  margin: auto;
}

.pictureUrl {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-top: 8px;
}

.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 8px;
  padding: 8px;
}
